{% if atomic_trigger_md is defined and atomic_trigger_md|length %}
<h1>Atomic Trigger</h1>
<pre><br/></pre>
<ac:structured-macro ac:name="markdown"><ac:plain-text-body>
    <![CDATA[{{ atomic_trigger_md }}]]>
</ac:plain-text-body></ac:structured-macro>
{% else %}
{% endif %}
{% if atomic_trigger is defined and atomic_trigger|length %}
<h1>Atomic Trigger</h1>
<pre><br/></pre>
<ac:structured-macro ac:name="expand">
    <ac:parameter ac:name="title">Atomic Trigge</ac:parameter>
    <ac:rich-text-body>
        <ac:structured-macro ac:name="code">
            <ac:parameter ac:name="language">yml</ac:parameter>
            <ac:plain-text-body>
                <![CDATA[{{ atomic_trigger }}]]>
            </ac:plain-text-body>
        </ac:structured-macro>
    </ac:rich-text-body>
</ac:structured-macro>
{% endif %}